ul {
  list-style: none;
  font-size: 24px;
}

h1 {
  font-family: 'Righteous', cursive;
  font-size: 48px;
}

body {
  font-family: 'Bree Serif', serif;
  background-color: #565B57;
}

label {
  padding-bottom: 4px;
}

.btn-primary {
  color: #911F00;
  background-color: #F2B500;
  border-color: #565B57;
}

.btn-primary:hover {
  color: #F2B500;
  background-color: #911F00;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem #565B57;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #911F00;
  background-color: #F2B500;
  border-color: #565B57;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #911F00;
  background-color: #F2B500;
  border-color: #565B57;
}

.container {
  background-color: #6F7570;
}

.card-header, .card-footer, .jumbotron {
  color: #F2B500;
  background-color: #911F00;
}

.card-body {
  color: #565B57;
  background-color: #EEEDE8;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 16px;
  line-height: 150px;
  color: #911F00;
  background-color: #F2B500;
  text-align: center;
  margin: 8px;
  display: inline-block;
  border: thick;
  border-color: #565B57;
}

.circle:hover {
  color: #F2B500;
  background-color: #911F00;

}

#pizzaInfo {
  display: none;
}

#orderTotalOutput {
  color: white;
}

#pizzasOrdered {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
